<!DOCTYPE html>
<html lang="en">
    <head>
        <title>fe-training</title>
        {{#development}}
        <link href="css/index.css" type="text/css" media="all" rel="stylesheet" />
        {{/development}}
        {{#production}}
        <link href="css/index.min.css" type="text/css" media="all" rel="stylesheet" />
        {{/production}}
    </head>
    <body>
        <div class='ms-container'>
            <!-- 左侧导航区域 -->
            <ul class='ms-left'>    
                <!-- 动的 -->
                <li class='ms-move-helper' data-role="helper"></li>
                <li class='ms-left-item' data-role="nav-item">
                    <div class='ms-text-helper'>国际品牌</div>
                </li>
                <li class='ms-left-item' data-role="nav-item">
                    <div class='ms-text-helper'>创意大牌</div>
                </li>
                <li class='ms-left-item' data-role="nav-item">
                    <div class='ms-text-helper'>新晋品牌</div>
                </li>
            </ul>

            <!-- 右侧滚动区域 -->
            <div class='ms-right' data-role="right-scroll">
                <ul class='ms-right-item'>
                    <li class='ms-right-brand'>brand1</li>
                    <li class='ms-right-brand'>brand1</li>
                    <li class='ms-right-brand'>brand1</li>
                    <li class='ms-right-brand'>brand1</li>
                    <li class='ms-right-brand'>brand1</li>
                    <li class='ms-right-brand'>brand1</li>
                    <li class='ms-right-brand'>brand1</li>
                    <li class='ms-right-brand'>brand1</li>
                    <li class='ms-right-brand'>brand1</li>
                </ul>
                <ul class='ms-right-item'>
                    <li class='ms-right-brand'>brand2</li>
                    <li class='ms-right-brand'>brand2</li>
                    <li class='ms-right-brand'>brand2</li>
                    <li class='ms-right-brand'>brand2</li>
                    <li class='ms-right-brand'>brand2</li>
                    <li class='ms-right-brand'>brand2</li>
                    <li class='ms-right-brand'>brand2</li>
                    <li class='ms-right-brand'>brand2</li>
                    <li class='ms-right-brand'>brand2</li>
                </ul>
                <ul class='ms-right-item'>
                    <li class='ms-right-brand'>brand3</li>
                    <li class='ms-right-brand'>brand3</li>
                    <li class='ms-right-brand'>brand3</li>
                    <li class='ms-right-brand'>brand3</li>
                    <li class='ms-right-brand'>brand3</li>
                    <li class='ms-right-brand'>brand3</li>
                    <li class='ms-right-brand'>brand3</li>
                    <li class='ms-right-brand'>brand3</li>
                    <li class='ms-right-brand'>brand3</li>
                </ul>
            <div>
        </div>


        <script type="text/javascript" src="js/index/main.js"></script>
    </body>
</html>
