<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TODO List</title>
        {{#development}}
        <link href="./project-1/index.css" type="text/css" media="all" rel="stylesheet" />
        {{/development}}
        {{#production}}
        <link href="./project-1/index.min.css" type="text/css" media="all" rel="stylesheet" />
        {{/production}}
    </head>
    <body>
        <div class='ms-container'>
            第一个TODO List 项目
        </div>

        <script type="text/javascript" src="./project-1/index.js"></script>
    </body>
</html>
